<div class="container">
  <mat-card class="example-card">

    <img
      mat-card-image
      src="../../../assets/images/eat-out.jpg"
      alt="eat out to help"
    >
    <mat-card-content>
      <p>
        Register to use our sass platform for your business during this hard times and promote social distancing.
      </p>
      <p>
        <a [routerLink]="['/restaurants']">click me </a>to view all restaurants on our platform.
      </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>
