<div class="example-spacer">
  <mat-toolbar color="primary">
    <span>Restaurants Eat Out Covid-19</span>
    <span class="example-spacer"></span>
    <div class="container">
      <div class="container-padding">
        <a
          [routerLink]="['/register']"
          class="mouse-hover"
        >Register</a>
      </div>
      <div class="container-padding">
        <a
          [routerLink]="['/login']"
          class="mouse-hover"
        >Login</a>
      </div>
    </div>
  </mat-toolbar>
</div>
